* {
    box-sizing: border-box;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    padding-top: 0;
    position: fixed;
    background-color: white;
    margin-top: -3.7rem;
    padding-left: 4rem;
    padding-right: 4.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

header h1 {
    margin-top: -0.5rem;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0;
    background-color: #1D3461;
    color: white;
    width: 12rem;
    text-align: center;
    padding-top: 1.1rem;
    height: 4.2rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#btn-menu {
    display: none;
}

#btn-close {
    display: none;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1.3rem;
}

header nav ul li {
    cursor: pointer;
    font-size: 1.1rem;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

header nav ul li a:hover {
    color: #1D3461;
}

.nav-items {
    list-style-type: none;
}

#banner-one {
    background-image: url(../img/pexels-louis-gys-11922002.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-left: 4rem;
    padding-top: 11rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: 3.5rem;
}

#banner-one h2 {
    width: 35rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
}

#banner-one button {
    border-radius: 6px;
    width: 17rem;
    height: 3.4rem;
    font-size: 1.1rem;
    border-style: none;
    background-color: #1D3461;
    color: white;
    transition: 1s;
}

#banner-one button:hover {
    background-color: #154197;
}

#Reasons {
    margin-top: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Reasons h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

#primary {
    width: 42rem;
    margin: auto;
}

#primary h2 {
    text-align: center;
}

#primary p {
    text-align: center;
}

#group {
    display: grid;
    grid-template-columns: 8fr 8fr;
    margin-top: 2rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10rem;
    padding-right: 10rem;
}

#Reasons-01 {
    width: 23rem;
}

#Reasons-02 {
    width: 23rem;
}

#Reasons-03 {
    width: 24rem;
    margin-left: 22rem;
}

.number {
    font-size: 2rem;
    font-weight: 700;
    color: #1D3461;
}

.content {
    font-size: 1.4rem;
    font-weight: 700;
}

#options {
    background-color: #dbdad7;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    color: black;
    margin-top: 5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

#box-options {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

#options h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

#options img {
    width: 29.65vw;
}

.cars-options {
    background-color: white;
    width: 29.65vw;
    color:#1D3461;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.7rem;
}

.cars-options h3 {
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: -0.9rem;
}

.cars-options a {
    cursor: pointer;
    text-decoration: none;
    color: #1D3461;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cars-options button {
    background: none;
    border-style: none;
    color: #1D3461;
    align-items: stretch;
    margin-top: -0.3rem;
    font-size: 1.9rem;
    cursor: pointer;
}

.select {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.description hr {
    border-color: rgba(208, 195, 195, 0.549);
    width: 23rem;
    margin-top: 0;
    margin-bottom: 0;
    height: 0.1rem;
}

#logo-brands {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 3rem;
}

#logo-brands a {
    cursor: pointer;
}

#logo-brands #img {
    width: 7.5rem;
}

#logo-brands #img-m {
    width: 4.3rem;
    margin-top: -0.8rem;
    margin-left: 1.7rem;
}

#logo-brands #img-t {
    width: 5.1rem;
    margin-top: -0.4rem;
    margin-left: 1.3rem;
}

#logo-brands #img-c {
    width: 5.5rem;
    margin-top: -1.2rem;
    margin-left: 1.1rem;
}

.logos {
    width: 9rem;
    background-color: #dbdad7;
    height: 5rem;
    padding-top: 1.2rem;
    padding-left: 0.7rem;
    border-radius: 6px;
    transition: 1s;
}

.logos:hover {
    background-color: rgb(238, 238, 238);
}

#two-cars {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
    padding: 4rem;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
}

#two-cars a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#first-car {
    background-image: url(../img/wp2707552-4k-car-wallpapercopia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 44.1vw;
    height: 68.6vh;
    padding-top: 16rem;
    padding-left: 2rem;
    color: white;
    transition: 1s;
}

#first-car:hover {
    width: 46vw;
    height: 71vh;
}

#first-car h3 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#second-car {
    background-image: url(../img/wp2707515-4k-car-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 44.1vw;
    height: 68.6vh;
    padding-top: 16rem;
    padding-left: 2rem;
    color: white;
    transition: 1s;
}

#second-car:hover {
    width: 46vw;
    height: 71vh;
}

#second-car h3 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#banner-two {
    background-image: url(../img/pexels-auto-records-10054994.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 11rem;
    margin-bottom: 0;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

#banner-two h2 {
    width: 35rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
}

#banner-two button {
    border-radius: 6px;
    width: 17rem;
    height: 3.4rem;
    font-size: 1.1rem;
    border-style: none;
    background-color: #1D3461;
    color: white;
    transition: 1s;
}

#banner-two button:hover {
    background-color: #154197;
}

#information {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 16.8rem;
    width: 45rem;
    gap: 1rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#information div {
    background-color: white;
    width: 18rem;
    height: 10rem;
    padding-left: 1rem;
}

#information div hr {
    background-color: #247BA0;
    height: 0.3rem;
    width: 5rem;
    margin-left: 0;
    margin-bottom: 1.6rem;
}

#information div h3 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 0;
}

#information div span {
    font-weight: 700;
    font-size: 1.6rem;
}

#comments {
    background-color: #dbdad7;
    margin-top: 0;
    padding-top: 10.5rem;
    padding-left: 0;
    padding-bottom: 7.2rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: 2.5rem;
}

#comments h1 {
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

#comment-one, #comment-two, #comment-three, #comment-four, #comment-five {
    background-color: white;
    width: 20rem;
    height: 14rem;
    padding-top: 2rem;
    margin-top: -2.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

#formated-comment-one, #formated-comment-two, #formated-comment-three, #formated-comment-four, #formated-comment-five {
    width: 20rem;
    height: 15rem;
}

#formated-comment-one img, #formated-comment-two img, #formated-comment-three img, #formated-comment-four img, #formated-comment-five img  {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    margin-left: 7.6rem;
}

#comment-one p, #comment-two p, #comment-three p, #comment-four p, #comment-five p  {
    font-weight: 700;
    text-align: left;
}

#group-comments {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 8rem;
}

#group-comments-two {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 8rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#questions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

#questions-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: left;
    width: 45rem;
}

details {
    background-color: #dbdad7;
    width: 45rem;
    padding-left: 2rem;
    padding-top: 1rem;
    transition: 1s;
}

.respost {
    padding-bottom: 2.3rem;
}

summary {
    display: grid;
    grid-template-columns: auto auto;
    transition: 1s;
    cursor: pointer;
}

summary p {
    font-size: 1.3rem;
    font-weight: 700;
}

#icon-1, #icon-2, #icon-3, #icon-4, #icon-5{
    margin-left: 13rem;
    margin-top: 1.4rem;
    font-size: 2rem;
}

footer {
    background-color: #1D3461;
    height: 24rem;
    padding-left: 5rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
}

#img-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 20rem;
    gap: 1rem;
}

#img-footer a {
    cursor: pointer;
}

#img-footer div {
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    margin-top: 4rem;
}

#img-footer img {
    width: 3rem;
}

#items-select {
    width: 31rem;
    height: 13rem;
}

#items-select a {
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#items-select a:hover {
    font-size: 1.1rem;
}

#items-select ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
    margin-top: 4.2rem;
    margin-right: 5rem;
}

#items-select ul li {
    list-style-type: none;
    color: white;
}

#footer-logo {
    display: block;
    margin-left: 100%;
    margin-right: 100%;
    text-align: center;
    width: 27rem;
}

#footer-logo h2 {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

#footer-logo h4 {
    color: white;
    margin-top: 0;
}

